{{- $path := .Get 0 -}}
{{- $fit := .Get 1 -}}
{{- if not $fit -}}
  {{- $fit = "600x600 q90 Lanczos Smart" -}}
{{- end -}}
{{- if $path -}}
  {{- $resource := resources.Get $path -}}
  {{- if $resource -}}
    {{- $resizedImage := $resource.Fit $fit -}}
    <a class="responsive-img" href="{{- $resource.RelPermalink -}}"><img loading="lazy" src="{{- $resizedImage.RelPermalink -}}" loading="lazy" /></a>
  {{- else -}}
    <a class="responsive-img" href="{{- $path -}}"><img loading="lazy" src="{{- $path -}}" loading="lazy" /></a>
  {{- end -}}
{{- end -}}
