{{- define "main" -}}
  <div class="news-header container">
    {{- $coverResource := .Page.Resources.GetMatch .Params.Thumbnail -}}
    {{- if not $coverResource -}}
      {{- $coverResource = resources.Get "img/default_article_thumbnail.jpg" -}}
    {{- end -}}
    <img loading="lazy" class="article-cover" src="{{- $coverResource.RelPermalink -}}" />
    <div class="article-header">
      <div class="container">
        <h1>{{ .Title | safeHTML }}</h1>
        <div class="article-metadata">
          <div class="article-date">
            {{- partial "components/icon.html" "calendar" -}}
            {{- .Date.Format "02/01/2006" -}}
          </div>
          <div class="article-tags">
            {{- range .Params.Tags -}}
              <div class="article-tag">{{ . }}</div>
            {{- end -}}
          </div>
          {{- if .Params.InitialReleaseDate -}}
            <div class="single-metadata-data">{{- .Date.Format "02/01/2006" -}}</div>
          {{- end -}}
        </div>
      </div>
    </div>
  </div>
  <div class="container content content-container">
    <main class="article-grid">
      <article role="main">
        {{- .Content -}}
      </article>
      {{- partial "components/table-of-contents.html" . -}}
    </main>
  </div>
{{- end -}}
