{{- define "main" -}}
  <div class="container single-header-container">
    <div class="article-header">
      <div class="container">
        <h1>{{- .Title | safeHTML -}}</h1>
      </div>
    </div>
  </div>
  <div class="container content-container content">
    <article role="main">
      {{- .Content -}}
    </article>
    <div id="gamer-package" class="download-package">
      <img loading="lazy" class="download-package-logo" src="/img/branding/launcher_icon.svg" />
      <h2>Solarus Launcher</h2>
      <p>{{- i18n "downloadLauncherDesc" | safeHTML -}}</p>
      <div class="download-list">
        {{- range .Site.Data.solarus.downloads.launcher -}}
          {{- partial "components/download-item.html" . -}}
        {{- end -}}
      </div>
      <p>{{- i18n "downloadLauncherHowTo" | safeHTML -}}</p>
      {{- partial "components/button.html" (dict
        "text" (i18n "downloadLauncherUserManual" | safeHTML)
        "icon" "arrow-right"
        "href" .Site.Params.launcherUserManualURL
        "align" "right"
        "role" "primary" )
      -}}
    </div>
    <hr class="download-package-separator" />
    <div id="game-developer-package" class="download-package">
      <img loading="lazy" loading="lazy" class="download-package-logo" src="/img/branding/quest_editor_icon.svg" />
      <h2>Solarus Quest Editor</h2>
      <p>{{- i18n "downloadEditorDesc" | safeHTML -}}</p>
      <div class="download-list">
        {{- range .Site.Data.solarus.downloads.questEditor -}}
          {{- partial "components/download-item.html" . -}}
        {{- end -}}
      </div>
      <p>{{- i18n "downloadEditorHowTo" | safeHTML -}}</p>
      {{- partial "components/button.html" (dict
        "text" (i18n "downloadEditorTutorials" | safeHTML)
        "icon" "arrow-right"
        "href" .Site.Params.tutorialsURL
        "align" "right"
        "role" "primary" )
      -}}
    </div>
  </div>
{{- end -}}
