{{- define "main" -}}
  <div class="container single-header-container">
    <div class="article-header">
      <div class="container">
        <h1>{{- .Title | safeHTML -}}</h1>
      </div>
    </div>
  </div>
  <div class="container content content-container" role="main">
    {{- with .Content -}}
      <article role="main">
        {{- .Content -}}
      </article>
    {{- end -}}
    <div class="searchpage-list-toolbar list-toolbar">
      {{- partial "components/searchbox.html" (dict "id" "searchpage-searchbox") -}}
    </div>
    <ul id="searchpage-list"></ul>
    <div id="searchpage-loading">{{- i18n "searchLoadingIndex" | safeHTML -}}</div>
    <div id="searchpage-noresults">{{- i18n "searchNoResults" | safeHTML -}}</div>
  </div>
{{- end -}}
