a.button,
button {
  align-content: center;
  align-items: center;
  justify-content: center;
  background-color: $color-primary;
  border: none;
  border-radius: $border-radius-buttons;
  box-shadow: $elevation-2;
  color: $color-primary-foreground;
  cursor: pointer;
  font-size: $font-size-button;
  text-transform: uppercase;
  padding: #{$spacing-base / 1.5} #{$spacing-base * 2} #{$spacing-base / 1.5} #{$spacing-base * 1.5};
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  font-family: $font-family-button;
  letter-spacing: $letter-spacing-button;
  transition: background-color $animation-duration, outline $animation-duration, box-shadow $animation-duration, color $animation-duration, border-color $animation-duration, scale $animation-duration, -webkit-transform $animation-duration;
  -webkit-transition: background-color $animation-duration, outline $animation-duration, box-shadow $animation-duration, color $animation-duration, border-color $animation-duration, -webkit-transform $animation-duration;
  font-weight: $font-weight-button;
  display: flex !important;
  flex-direction: row !important;
  gap: #{$spacing-base / 4} !important;
  text-decoration: none;
  width: fit-content;
  outline-offset: 0;

  &:hover,
  &:focus,
  &:focus-visible {
    background-color: $color-primary-hover;
    box-shadow: $elevation-3;
    color: $color-primary-foreground;
    border-radius: $border-radius-buttons;

    transform: scale(1.025);
    -webkit-transform: scale(1.025);
    outline-offset: 0;

    .icon svg,
    .icon svg * {
      fill: $color-primary-foreground;
    }
  }

  &:active {
    background-color: $color-primary-pressed;
    box-shadow: $elevation-4;
    color: $color-primary-foreground;
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
  }

  .icon {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 0;
    margin-right: $icon-spacing;
    margin-top: 2px; // Fix alignment with text.

    svg {
      fill: $color-primary-foreground;
      height: $icon-height;
      width: auto;
    }

    svg,
    svg * {
      fill: $color-primary-foreground;
    }
  }

  &.right {
    padding: #{$spacing-base / 1.5} #{$spacing-base * 1.5} #{$spacing-base / 1.5} #{$spacing-base * 2};

    .icon {
      margin-left: $icon-spacing;
      margin-right: 0;
    }
  }

  .text {
    display: inline-block;
    text-decoration: none;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  &.secondary {
    background-color: $color-secondary-foreground;
    color: $color-secondary-lighter;

    .icon svg,
    .icon svg * {
      fill: $color-secondary-lighter;
    }
  }

  &.centered {
    margin-left: auto;
    margin-right: auto;
  }

  &.shortcode {
    margin-left: auto;
    margin-right: auto;
    margin-top: $spacing-base;
    margin-bottom: $spacing-base;
  }

  &.disabled,
  &:disabled {
    box-shadow: none;
    color: $color-primary-disabled-foreground;
    background-color: $color-primary-disabled;
    cursor: not-allowed;
    pointer-events: none;

    .icon svg {
      fill: currentColor;
    }
  }
}
