.icon {
  display: inline-block;
  line-height: 0;
  width: $icon-height;
  height: $icon-height;

  svg,
  svg path {
    fill: currentColor;
    height: 100%;
    width: auto;
  }
}

.rating {
  display: inline-block;
  line-height: 0;
  width: $icon-height;
  height: $icon-height;

  svg,
  svg path {
    height: 100%;
    width: auto;
  }
}
