.list-items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: $spacing-base * 2.5;
  list-style: none;
}

.list-item {
  padding: $spacing-base / 2;

  .list-item-content {
    border-radius: $border-radius;
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;

    .list-item-image {
      width: 100%;
      box-shadow: $elevation-3;
      margin-bottom: $spacing-base * 2;
      border-radius: $border-radius;
      transition: scale $animation-duration;
    }

    .list-item-title {
      font-weight: normal;
      margin-bottom: $spacing-base / 4;
    }

    &:hover {
      color: $color-link-hover;
      .list-item-image {
        scale: 1.05;
      }
    }
  }
}

.list-header {
  width: 100%;

  h1 {
    margin-bottom: $spacing-base / 2;
  }
}
