.article-cover {
  margin: 0;
  padding: 0;
  width: 100%;
  height: $news-thumbnail-height;
  object-fit: cover;
  margin-bottom: -6px; // Fix strange margin.

  @media (max-width: $breakpoint-phone-portrait) {
    padding-top: $navbar-height;
  }
}

.news-header {
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
}

.article-header {
  background: $color-background-breadcrumb;
  padding-top: $spacing-base * 2;
  padding-bottom: $spacing-base * 2;

  h1 {
    margin-bottom: $spacing-base / 2;
  }
}

.article-metadata {
  display: flex;
  flex-direction: row;
  gap: $spacing-base;
  align-items: center;
}

.article-date {
  font-size: $font-size;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: $spacing-base / 4;
  color: $color-text-caption;

  .icon {
    width: $icon-height * 1.5;
    height: $icon-height * 1.5;

    svg {
      fill: $color-text-caption;
    }
  }
}

.article-tags {
  display: flex;
  flex-direction: row;
  gap: $spacing-base / 4;

  .article-tag {
    background: $color-secondary;
    color: $color-text-caption;
    padding: #{$spacing-base / 8} #{$spacing-base * 0.75};
    border-radius: $border-radius-buttons;
    font-size: $font-size;
  }
}
