table {
  border-spacing: 0;
  border-collapse: collapse;
  display: block;
  max-width: 100%;
  overflow: auto;
  margin-bottom: $spacing-base * 2;
  scrollbar-width: thin;

  th {
    font-weight: bold;
    background-color: $color-secondary-disabled;
  }

  th,
  td {
    padding: #{$spacing-base / 2} $spacing-base;
    border: 1px solid $color-secondary-light;
  }

  tr {
    background-color: $color-background-content;
    border-top: 1px solid $color-secondary-light;
  }

  tr:nth-child(2n) {
    background-color: $color-background-page;
  }

  img {
    background-color: transparent;
    max-width: 100%;
  }
}
