<head>
  <meta charset="utf-8" />
  <meta name="pinterest" content="nopin" />
  <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="HandheldFriendly" content="true" />

  <!-- Get default language page for fallback values -->
  {{- $defaultPage := . -}}
  {{- range where .AllTranslations "Lang" site.Params.defaultLanguageCode -}}
    {{- $defaultPage = . -}}
  {{- end -}}

  {{- $title := (cond (eq .Params.Title nil) $defaultPage.Title .Title) -}}


  <!-- General information -->
  <link rel="canonical" href="{{- .Site.BaseURL -}}" />
  <!-- <meta name="theme-color" content="{{- .Site.Params.color -}}" /> -->
  <title>
    {{- if .IsHome -}}
      {{- .Site.Title | htmlUnescape -}}
    {{- else -}}
      {{- htmlUnescape $title -}}&nbsp;—&nbsp;{{- (htmlUnescape .Site.Title) -}}
    {{- end -}}
  </title>
  {{- $siteDescription := i18n "siteDescription" | safeHTML -}}
  <meta name="description" content="{{- $siteDescription -}}" />
  <meta name="color-scheme" content="dark" />

  <!-- CSS -->
  {{- $cssResource := resources.Get "css/main.scss" -}}
  {{- $cssFile := $cssResource | resources.ToCSS -}}
  {{- if .Site.IsServer -}}
    <link rel="stylesheet" type="text/css" href="{{- $cssFile.RelPermalink -}}" />
  {{- else -}}
    {{- $miniCssFile := $cssFile | resources.Minify -}}
    <link rel="stylesheet" type="text/css" href="{{- $miniCssFile.RelPermalink -}}" crossorigin="anonymous" />
  {{- end -}}


  <!-- Favicon for all possible sizes -->
  {{- $faviconResource := resources.Get "img/favicon.png" -}}


  <!-- Common -->
  {{- range $size := (slice "16" "32" "64" "128" "256") -}}
    {{- $iconSize := (print $size "x" $size) -}}
    {{- $resizedImage := $faviconResource.Fit (print $iconSize " png") -}}
    <link rel="icon" type="image/png" sizes="{{ $iconSize }}" href="{{ $resizedImage.RelPermalink }}" />
  {{- end -}}


  <!-- Favicon for Apple devies -->
  {{- range $size := (slice "120" "152" "167" "180") -}}
    {{- $iconSize := (print $size "x" $size) -}}
    {{- $resizedImage := $faviconResource.Fit (print $iconSize " png") -}}
    <link rel="apple-touch-icon" sizes="{{ $iconSize }}" ref="{{ $resizedImage.RelPermalink }}" />
  {{- end -}}


  <!-- Android -->
  {{- range $size := (slice "196") -}}
    {{- $iconSize := (print $size "x" $size) -}}
    {{- $resizedImage := $faviconResource.Fit (print $iconSize " png") -}}
    <link rel="shortcut icon" sizes="{{ $iconSize }}" href="{{ $resizedImage.RelPermalink }}" />
  {{- end -}}


  <!-- Microsoft -->
  <meta name="msapplication-TileColor" content="{{- .Site.Params.color -}}" />
  {{- range $size := (slice "70" "150") -}}
    {{- $iconSize := (print $size "x" $size) -}}
    {{- $iconName := (print "msapplication-square" $size "x" $size "logo") -}}
    {{- $resizedImage := $faviconResource.Fit (print $iconSize " png") -}}
    <meta name="{{ $iconName }}" content="{{ $resizedImage.RelPermalink }}" />
  {{- end -}}
  {{- range $size := (slice "270") -}}
    {{- $iconSize := (print $size "x" $size) -}}
    {{- $resizedImage := $faviconResource.Fit (print $iconSize " png") -}}
    <meta name="msapplication-TileImage" content="{{ $resizedImage.RelPermalink }}" />
  {{- end -}}
  <meta name="msapplication-config" content="none" />

  <!-- Facebook OpenGraph -->
  <meta property="og:locale" content="en_US" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="{{- .Title | safeHTML -}}" />
  <meta property="og:description" content="{{- $siteDescription -}}" />
  <meta property="og:url" content="{{- .RelPermalink -}}" />
  <meta property="og:site_name" content="{{- .Site.Title | safeHTML -}}" />
  {{- $thumbnailResource := resources.Get "img/thumbnail.png" -}}
  {{- $facebookThumbnail := $thumbnailResource.Fit "1200x630 jpg q90 Lanczos Smart" -}}
  <meta property="og:image" content="{{- $facebookThumbnail.RelPermalink -}}" />
  <meta property="og:image:width" content="{{- $facebookThumbnail.Width -}}" />
  <meta property="og:image:height" content="{{- $facebookThumbnail.Height -}}" />
  <meta property="og:image:type" content="image/jpeg" />

  <!-- Twitter -->
  <meta name="twitter:title" content="{{- .Title | safeHTML -}}" />
  <meta name="twitter:description" content="{{- $siteDescription -}}" />
  {{ with .Site.Params.social.twitter -}}
    <meta name="twitter:site" content="@{{ . }}" />
  {{ end -}}
  {{- $twitterThumbnail := $thumbnailResource.Fit "1200x600 jpg q90 Lanczos Smart" -}}
  <meta property="og:image" content="{{- $twitterThumbnail.RelPermalink -}}" />
  <meta property="og:image:width" content="{{- $twitterThumbnail.Width -}}" />
  <meta property="og:image:height" content="{{- $twitterThumbnail.Height -}}" />
  <meta property="og:image:type" content="image/jpeg" />

  <!-- RSS -->
  {{ range .AlternativeOutputFormats -}}
    {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .RelPermalink $.Site.Title | safeHTML }}
  {{ end -}}


  <!-- JS -->

  {{- $jsParams := resources.Get "js/params.js" | resources.ExecuteAsTemplate "js/params.js" . -}}
  {{- $jsNavBar := resources.Get "js/navbar.js" -}}
  {{- $jsSearch := resources.Get "js/search.js" -}}
  {{- $jsTableOfContents := resources.Get "js/table-of-contents.js" -}}
  {{- $jsVideos := resources.Get "js/videos.js" -}}
  {{- $jsClickableImages := resources.Get "js/clickable-images.js" -}}
  {{- $jsEmailObfuscator := resources.Get "js/email-obfuscator.js" -}}
  {{- $jsPopups := resources.Get "js/popups.js" -}}

  {{- if .Site.IsServer -}}
    <script src="{{- $jsParams.RelPermalink -}}" defer></script>
    <script src="{{- $jsNavBar.RelPermalink -}}" defer></script>
    <script src="{{- $jsPopups.RelPermalink -}}" defer></script>
    <script src="{{- $jsSearch.RelPermalink -}}" defer></script>
    <script src="{{- $jsTableOfContents.RelPermalink -}}" defer></script>
    <script src="{{- $jsVideos.RelPermalink -}}" defer></script>
    <script src="{{- $jsClickableImages.RelPermalink -}}" defer></script>
    <script src="{{- $jsEmailObfuscator.RelPermalink -}}" defer></script>
  {{- else -}}
    <!-- Bundle everything in only one file -->
    {{- $allJsFiles := slice
      $jsParams
      $jsNavBar
      $jsPopups
      $jsSearch
      $jsTableOfContents
      $jsVideos
      $jsClickableImages
      $jsEmailObfuscator
    -}}
    {{- $jsResource := $allJsFiles | resources.Concat "js/main.js" | js.Build -}}
    {{- $jsFile := $jsResource | resources.Minify -}}
    {{ $secureJsResource := $jsFile | resources.Fingerprint "sha512" }}
    <script src="{{- $secureJsResource.RelPermalink -}}" integrity="{{ $secureJsResource.Data.Integrity }}" defer></script>
  {{- end -}}


  <!-- The following script ensures /en/* redirects to /*, which triggers correctly the 404 page. -->
  <!-- This cannot be a regular asset because the URL prevent to actually download the script. -->
  <script>
    const isGitLabPages = window.location.origin.includes('gitlab.io');
    const pathElements = window.location.pathname.split('/').filter((value) => value.length > 0);
    const languageCodeIndex = isGitLabPages ? 1 : 0;
    const pathIsRoot = pathElements.length < languageCodeIndex;

    if (!pathIsRoot && languageCodeIndex < pathElements.length) {
      const languageCode = isGitLabPages ? pathElements[languageCodeIndex] : pathElements[languageCodeIndex];
      if (languageCode.length === 2 && languageCode.toLowerCase() === 'en') {
        const count = pathElements.length;
        const newPathElements = pathElements.slice(Math.min(languageCodeIndex + 1, count), count);
        if (isGitLabPages) {
          newPathElements.unshift(pathElements[languageCodeIndex - 1]);
        }
        const newPath = newPathElements.join('/');
        if (newPath.length > 0 && newPath !== window.location.pathname) {
          window.location.pathname = newPath;
        }
      }
    }
  </script>
</head>
