<a class="news-item" href="{{ .RelPermalink }}">
  {{- $coverResource := .Page.Resources.GetMatch .Params.Thumbnail -}}
  {{- if not $coverResource -}}
    {{- $coverResource = resources.Get "img/default_article_thumbnail.jpg" -}}
  {{- end -}}
  {{- $resizedCoverResource := $coverResource.Fit "700x360 jpg" -}}
  <img loading="lazy" class="news-item-image" src="{{- $resizedCoverResource.RelPermalink -}}" />
  <div class="news-item-information">
    <div class="news-item-title">{{- .Title | safeHTML -}}</div>
    <div class="news-item-metadata">
      <div class="news-item-date">
        {{- partial "components/icon.html" "calendar" -}}
        {{- .Date.Format "02/01/2006" -}}
      </div>
      <div class="news-item-tags">
        {{- range .Params.Tags -}}
          <div class="news-item-tag">{{ . }}</div>
        {{- end -}}
      </div>
    </div>
    <div class="news-item-excerpt">{{- .Params.Excerpt -}}</div>
  </div>
</a>
