{{- $videoId := .id -}}
{{- $thumbnail := .thumbnail -}}
{{- if not $thumbnail -}}
  {{- $thumbnail = print "https://img.youtube.com/vi/" $videoId  "/maxresdefault.jpg" -}}
{{- end -}}
<div class="youtube-player">
  {{- $videoUrl := print "https://www.youtube-nocookie.com/embed/" . "?enablejsapi=1" -}}
  <div id="video-iframe-{{ $videoId }}" class="youtube-video"></div>
  <img loading="lazy" id="video-thumbnail-{{ $videoId }}" class="youtube-player-thumbnail" src="{{ $thumbnail }}" />
  <button id="video-button-{{ $videoId }}" class="youtube-player-button">
    {{- partial "components/icon.html" "play" -}}
  </button>
</div>
