{{- define "main" -}}
  <div class="container single-header-container">
    <div class="article-header">
      <div class="container">
        <h1>{{- .Title | safeHTML -}}</h1>
      </div>
    </div>
  </div>
  <div class="container content content-container" role="main">
    {{- with .Content -}}
      <article role="main">
        {{- .Content -}}
      </article>
    {{- end -}}
    <div class="game-list-toolbar list-toolbar">
      {{- partial "components/searchbox.html" (dict "id" "game-searchbox") -}}
    </div>
    <ul class="game-list" id="game-list">
      {{- $gamePages := slice -}}
      {{- range .Pages -}}
        <!-- Find the page for the default language -->
        {{- $defaultLangPage := . -}}
        {{- range where .AllTranslations "Lang" .Site.Params.defaultLanguageCode -}}
          {{- $defaultLangPage = . -}}
        {{- end -}}
        <!-- Build an object that merges both default language and current one -->
        {{- $pageDict := dict
          "Thumbnail"           ($defaultLangPage.Resources.GetMatch $defaultLangPage.Params.Thumbnail)
          "RelPermalink"        .RelPermalink
          "Resources"           $defaultLangPage.Resources
          "Title"               ($defaultLangPage.Title | safeHTML)
          "GameId"              $defaultLangPage.Params.Id
          "InitialReleaseDate"  $defaultLangPage.Params.InitialReleaseDate
        -}}
        <!-- Push it to the list -->
        {{- $gamePages = $gamePages | append $pageDict -}}
      {{- end -}}
      <!-- Display the sorted list -->
      {{- range sort $gamePages "Title" -}}
        <li class="game-list-item" title="{{- .Title | safeHTML -}}" data-searchId="{{- .GameId -}}">
          {{- partial "components/game-item.html" . -}}
        </li>
      {{- end -}}
    </ul>
  </div>
{{- end -}}
